body {
    margin-top: 80px;
}

.btn {
    background-color: rgb(255, 193, 7);
    color: white;
    font-weight: bold;
    padding: 10px 30px;
}

.btn:hover {
    background-color: rgb(185, 139, 0);
    border: 1px solid rgb(185, 139, 0);
    color: white;
}

.titre_section {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px 
}

.sous_titre {
    text-align: center;
    color: rgb(148, 148, 148);
    font-size: 24px;
    font-style: italic;
}

/* --------------Navbar-------------- */
.navbar {
    text-transform: uppercase;
    font-size: 15px;
    height: 80px;
    letter-spacing: 2px;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.navbar .nav-link{
    color: rgb(255, 255, 255) !important;
    padding-right: 20px !important;
}

.navbar .nav-link:hover {
    color: rgb(255, 193, 7) !important;
    padding-top: 5px;
}

/* --------------Header-------------- */
.header_img {
    background: url("assets/img/header-bureau.jpg") no-repeat;
    background-position: center center;
    background-size: cover;
    height: 92vh;
}

.header_item {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.header_item p {
    font-size: 50px;
}

.header_item h1 {
    font-size: 80px;
}

/* --------------Compétence-------------- */

.competence {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

/* --------------Réalisation-------------- */

.realisation {
    background-color: rgb(245, 245, 245);
    padding-top: 10vh;
    padding-bottom: 10vh;
}

/* _____________Modal_____________ */

/* btn ouvrir modal */
.realisation-section {
    max-width: 20rem;
    margin-left: auto;
    margin-right: auto;
}
.realisation-section .realisation-lien {
    position: relative;
    display: block;
    margin: 0 auto;
}
.realisation-section .realisation-lien .realisation-survol {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 200, 0, 0.9);
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity ease-in-out 0.25s;
}
.realisation-section .realisation-lien .realisation-survol .realisation-survol-content {
    font-size: 1.25rem;
    color: white;
}
.realisation-section .realisation-lien:hover .realisation-survol {
    opacity: 1;
}
.realisation-lien .img_card {
    max-width: 318px;
    height: auto;
}

/* ____Fin btn ouvrir modal____ */

.btn:focus , .btn:active {
    outline: none !important;
    box-shadow: none;
}

.modal1 > .modal-dialog {
    min-width: 98%;
}

.modal2 > .modal-dialog {
    min-width: 70%;
}

.btn-fermer-modal {
    width: 100px;
}

.btn-fermer-modal:hover {
    color: rgb(173, 173, 173);
    cursor: pointer;
}

.titre-modal h2 {
    font-size: 50px;
    font-weight: bold;
}

.modal2 {
    background-color: rgb(33, 37, 41);
}

.img-2 button, .img-3 button, .img-4 button {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* -----Composition photo card Limeux Maurane----- */
.img-limeuxMaurane {
    display: grid;
    width: 45rem;
    grid-gap: 10px;
    grid-template-areas:
    "a d"
    "c b";
}

.img-limeuxMaurane img.btn-image, .img-limeuxMaurane img {
    border: 1px solid rgb(255, 193, 7);
    border-radius: 5px;
}

.img-limeuxMaurane img.btn-image:hover {
    border: 1px solid rgb(170, 133, 22);
}

.img-limeuxMaurane .img-1 {
    grid-area: a;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-limeuxMaurane .img-2 {
    grid-area: b;
}

.img-limeuxMaurane .img-3 {
    grid-area: c;
}

.img-limeuxMaurane .img-4 {
    grid-area: d;
}

/* -----Composition photo card Animalerie----- */
.img-animalerie {
    display: grid;
    width: 45rem;
    grid-gap: 10px;
    grid-template-areas:
    "a b"
    "a c"
    "a d";
}

.img-animalerie img.btn-image, .img-animalerie img {
    border: 1px solid rgb(255, 193, 7);
    border-radius: 5px;
}

.img-animalerie img.btn-image:hover {
    border: 1px solid rgb(170, 133, 22);
}

.img-animalerie .img-1 {
    grid-area: a;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-animalerie .img-2 {
    grid-area: b;
}

.img-animalerie .img-3 {
    grid-area: c;
}

.img-animalerie .img-4 {
    grid-area: d;
}