body {
    margin-top: 80px;
}
.row {
    --bs-gutter-x: 0; /*Permet d'eviter une scroll-bar horizontale*/
}
.btn {
    background-color: rgb(255, 193, 7);
    color: white;
    font-weight: bold;
    padding: 10px 30px;
}
.btn:hover {
    background-color: rgb(185, 139, 0);
    border: 1px solid rgb(185, 139, 0);
    color: white;
}
.titre_section {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 30px;
}
.sous_titre {
    text-align: center;
    color: rgb(148, 148, 148);
    font-size: 24px;
    font-style: italic;
    margin-bottom: 100px;
}
/* --------------Navbar-------------- */
.navbar {
    text-transform: uppercase;
    font-size: 15px;
    height: 80px;
    letter-spacing: 2px;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Icon toggle */
.navbar-toggler {
    border: 1px solid white !important;
    color: white !important;
}
.navbar-toggler-icon {
    color: white !important;
}

/* fin Icon toggle */
.navbar .nav-link {
    color: rgb(255, 255, 255) !important;
    background: rgb(33, 37, 41);
    border-right: 1px solid rgb(255, 193, 7);
    padding-top: 5px;
    padding: 10px 20px 10px 5px !important;
    margin-right: 5px;
    margin-bottom: 2px;
}
.navbar .nav-link:hover {
    color: rgb(255, 193, 7) !important;
    padding-top: 5px !important;
    text-decoration: underline;
}

/* --------------Header-------------- */
.header_img {
    background: url("assets/img/header-bureau.jpg") no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 94vh;
}
div.header_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding-bottom: 20px;
}
.header_item p {
    font-size: 50px;
}
.header_item h1 {
    font-size: 80px;
}
p.header_message {
    color: rgb(226, 226, 226);
    background-color: rgba(0, 0, 0, 0.692);
    border: 1px solid rgb(255, 193, 7);
    text-align: center;
    font-size: 23px;
    border-radius: 5px;
    padding: 20px;
    margin-top: 35px;
    max-width: 70%;
    height: auto;
    transition: transform 1s;
}
p.header_message:hover {
    transform: scale(1.09);
}
@media (max-width: 1200px) {    
    p.header_message {
        font-size: 20px;
        max-width: 100%;
    }
}
@media (max-width: 768px) {
    .header_item h1 {
        font-size: 60px;
    }
    p.header_message {
        font-size: 18px;
        max-width: 100%;
    }
}
@media (max-width: 576px) {
    .header_item h1 {
        font-size: 40px;
    }
    p.header_message {
        font-size: 15px;
        max-width: 100%;
    }
}

/* --------------Compétence-------------- */
.competence {
    padding-top: 10vh;
    padding-bottom: 10vh;
}
@media screen and (max-width: 1050px) {
    section.competence div {
        display: flex;
        justify-content: center;
    }
    #myChart {
        width: 600px !important;
        height: auto !important;
    }
}
@media screen and (max-width: 750px) {
    #myChart {
        width: 500px !important;
        height: auto !important;
    }
}
@media screen and (max-width: 620px) {
    #myChart {
        width: 400px !important;
        height: auto !important;
    }
}

/* --------------Réalisation-------------- */
.realisation {
    background-color: rgb(245, 245, 245);
    padding-top: 10vh;
    padding-bottom: 10vh;
}

/* ___Modal___ */
/*Voir vers la fin du fichier*/

/* --------------Experience-------------- */
.experience {
    padding-top: 10vh;
    padding-bottom: 10vh;
}
@media screen and (max-width: 767px) {
    section.experience h4 {
        font-size: 20px !important;
    }
    section.experience h4.experience_rechercheDemploi {
        font-size: 13px !important;
    }
}

/* Pour le fil d'ariane voir plus bas */
/* --------------A propos-------------- */
.aPropos {
    background-color: rgb(245, 245, 245);
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.aPropos h1.titre_section {
    margin-bottom: 85px;
}
.card {
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(126, 113, 113);
}
.card_img > img {
    border: 1px solid black;
    border-radius: 100%;
}
.card_list > li {
    list-style: none;
    margin-left: 30px;
}
@media screen and (max-width: 991px) {
    .card_img > img{
        width: 350px;
    }
}
@media screen and (max-width: 400px) {
    .card_img > img{
        width: 300px;
    }
}
/*___Voir aussi___*/

.plusDinfo img {
    width: 150px;
    height: auto;
}
img.curriculumVitae {
    border: 1px solid black;
    border-radius: 5px;
    transition: transform 1s;
}
img.curriculumVitae:hover {
    box-shadow: 3px 3px 10px rgb(177, 170, 170);
    transform: scale(1.20);
}
#modalCV > .modal-dialog {
    min-width: 96%;
}
/*.QRcode, .curriculumVitae {
    margin-bottom: 10px;
}*/
.btn_reseaux, .curriculumVitae {
    margin-bottom: 10px;
}
a.btn_reseaux {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0px 15px;
    width: 150px;
    height: 210px;
    transition: transform 1s;
}
a.btn_reseaux:hover {
    background-color: rgb(255, 193, 7);
    box-shadow: 3px 3px 10px rgb(177, 170, 170);
    transform: scale(1.20);
}

/* --------------Contact-------------- */
.contact {
    background: url("assets/img/contact/map-image.png") no-repeat;
    background-color: #212529;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.block_contact {
    padding-top: 80px;
}
.info_contact {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(209, 209, 209, 0.657);
    background-color: rgba(0, 0, 0, 0.308);
    border-radius: 10px;
    min-height: 200px;
}
.info_contact:hover {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgb(255, 200, 0);
    border-radius: 10px;
    color: white;
    cursor: default;
    align-self: start;
}
.info_contact > a {
    color: rgb(255, 200, 0);
}
.info_contact > a:hover {
    color: rgb(202, 158, 0);
}

/* --------------Footer-------------- */
footer {
    padding-top: 3vh;
    padding-bottom: 2vh;
}
.btn-social {
    height: 2.5rem;
    width: 2.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 100%;
  }

/*_____________________________________________________*/
  
/* ___Modal___ */
/* btn ouvrir modal */
.realisation-section {
    max-width: 20rem;
    margin-left: auto;
    margin-right: auto;
}
.realisation-section .realisation-lien {
    position: relative;
    display: block;
    margin: 0 auto;
}
.realisation-section .realisation-lien .realisation-survol {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 200, 0, 0.9);
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity ease-in-out 0.25s;
}
.realisation-section .realisation-lien .realisation-survol .realisation-survol-content {
    font-size: 1.25rem;
    color: white;
}
.realisation-section .realisation-lien:hover .realisation-survol {
    opacity: 1;
}

/* Fin btn ouvrir modal */

.btn:focus , .btn:active {
    outline: none !important;
    box-shadow: none;
}
.btn-fermer-modal {
    width: 100px;
}
.btn-fermer-modal:hover {
    color: rgb(255, 193, 7);
    cursor: pointer;
}
.modal1 > .modal-dialog {
    min-width: 98%;
}
.modal2 > .modal-dialog {
    min-width: 70%;
}
.titre-modal h2 {
    font-size: 50px;
    font-weight: bold;
}
.modal2 {
    background-color: rgb(33, 37, 41);
}

.img-2 button, .img-3 button, .img-4 button {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* -----Composition photo card Limeux Maurane----- */
.img-limeuxMaurane {
    display: grid;
    width: 45rem;
    grid-gap: 10px;
    grid-template-areas:
    "a d"
    "c b";
}
.img-limeuxMaurane img.btn-image, .img-limeuxMaurane img {
    border: 1px solid rgb(255, 193, 7);
    border-radius: 5px;
}
.img-limeuxMaurane img.btn-image:hover {
    border: 1px solid rgb(170, 133, 22);
}
.img-limeuxMaurane .img-1 {
    grid-area: a;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.img-limeuxMaurane .img-2 {
    grid-area: b;
}
.img-limeuxMaurane .img-3 {
    grid-area: c;
}
.img-limeuxMaurane .img-4 {
    grid-area: d;
}

/* -----Composition photo card Animalerie----- */
.img-animalerie {
    display: grid;
    width: 45rem;
    grid-gap: 10px;
    grid-template-areas:
    "a b"
    "a c"
    "a d";
}
.img-animalerie img.btn-image, .img-animalerie img {
    border: 1px solid rgb(255, 193, 7);
    border-radius: 5px;
}
.img-animalerie img.btn-image:hover {
    border: 1px solid rgb(170, 133, 22);
}
.img-animalerie .img-1 {
    grid-area: a;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.img-animalerie .img-2 {
    grid-area: b;
}
.img-animalerie .img-3 {
    grid-area: c;
}
.img-animalerie .img-4 {
    grid-area: d;
}

/* ___Fin de Modal___ */

/* ___Fil d'ariane___ */
.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}
.timeline:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: "";
    background-color: #e9ecef;
}
.timeline > li {
    position: relative;
    min-height: 50px;
    margin-bottom: 50px;
}
.timeline > li:after, .timeline > li:before {
    display: table;
    content: " ";
}
.timeline > li:after {
    clear: both;
}
.timeline > li .timeline-panel {
    position: relative;
    float: right;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}
.timeline > li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}
.timeline > li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}
.timeline > li .timeline-image {
    position: absolute;
    z-index: 100;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    text-align: center;
    color: white;
    border: 7px solid #e9ecef;
    border-radius: 100%;
    background-color: #ffc800;
}
.timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
    font-size: 10px;
    line-height: 14px;
    margin-top: 12px;
}
.timeline > li h4 {
    font-size: 25px;
    font-weight: bold;
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}
.timeline > li:last-child {
    margin-bottom: 0;
}
.timeline .timeline-heading h4, .timeline .timeline-heading .h4 {
    margin-top: 0;
    color: inherit;
}
.timeline .timeline-heading h4.subheading, .timeline .timeline-heading .subheading.h4 {
    text-transform: none;
}
.timeline .timeline-body > ul,
.timeline .timeline-body > p {
    margin-bottom: 0;
    list-style: none;
    font-size: 18px;
}
@media (min-width: 768px) {
    .timeline:before {
        left: 50%;
    }
    .timeline > li {
        min-height: 100px;
        margin-bottom: 100px;
    }
    .timeline > li .timeline-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right;
    }
    .timeline > li .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }
    .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
        font-size: 13px;
        line-height: 18px;
        margin-top: 16px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }
}
@media (min-width: 992px) {
    .timeline > li {
        min-height: 150px;
    }
    .timeline > li .timeline-panel {
        padding: 0 20px 20px;
    }
    .timeline > li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }
    .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
        font-size: 18px;
        line-height: 26px;
        margin-top: 30px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
        padding: 0 20px 20px;
    }
}
@media (min-width: 1200px) {
    .timeline > li {
        min-height: 170px;
    }
    .timeline > li .timeline-panel {
        padding: 0 20px 20px 100px;
    }
    .timeline > li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }
    .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
        margin-top: 40px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
        padding: 0 100px 20px 20px;
    }
}
/* ___Fin du fil d'ariane___*/